* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  list-style-type: none;
  font-family: "Bungee", cursive;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

div.header {
  height: 10vh;
  padding-bottom: 100px;
}

div.header ul {
  margin: 1em;
  margin-left: 10%;
  display: flex;
  text-align: center;
  align-items: center;
}

div.header ul li {
  margin: 1.6em;
  font-size: 1.2em;
}

.header ul li a:hover {
  color: #c4942d;
}

div.header ul img {
  width: 7em;
}

div.content {
  margin: 2% 2%;
  background-color: #f5f5f5;
  border-radius: 10px;
}

div.content h1 {
  text-align: center;
  letter-spacing: 7px;
  font-size: 40px;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  min-height: 350px;
  background-image: url("img/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20em;
}

ul.links li {
  display: inline;
  margin: 2em;
}

.bg li a {
  color: #84858a;
  font-size: 1.6em;
}

.bg li a:hover {
  color: #c4942d;
}

div.pictures {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 20px;
}

div.pictures img {
  width: 100%;
}

.grid-item {
  border: 1px solid black;
}

.end-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b47e5;
  color: #fff;
  font-size: 25px;
  padding: 30px 40px;
  width: 70%;
  margin: auto;
  position: relative;
  top: 100px;
}

.end-banner p {
  flex: 1;
  text-align: left;
  padding-left: 55px;
  line-height: 40px;
}

.end-banner a i {
  flex: 1;
  text-align: right;
  font-size: 100px;
  padding-right: 50px;
  color: #fff;
}

p > span {
  font-style: italic;
  font-size: 45px;
}

/* FOOTER */

.footer {
  display: flex;
  font-size: 15px;
  padding-top: 40px;
  background-color: #efefef;
  min-height: 450px;
}

.email a {
  text-decoration: underline;
}

.social a i {
  padding: 3px;
  font-size: 45px;
  color: #3b47e5;
}
.social a i:hover {
  color: #181f88;
}

.box {
  margin: 25px;
  padding: 10px;
}

.footer .left {
  padding-top: 70px;
  padding-left: 100px;
  width: 60%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}
.footer .right {
  padding-right: 100px;
  padding-top: 70px;
  width: 40%;
  text-align: center;
}
.footer .right img {
  width: 25%;
}
.footer .right p {
  text-align: left;
  padding: 10px;
}

.footer h5 {
  color: #a5a8ae;
  letter-spacing: 1.8px;
}
